<div class="footer__item">
   <div class="footer__icon">
     <img class="footer__icon--image" src="{{assetSrc icon}}" role="presentation" alt="Icon of {{title}}">
   </div>
   <div class="footer__title">{{title}} </div>
   <div class="footer__link footer__link--{{title}}">{{#each linkInformation}}{{{module this}}}{{/each}}</div>
</div>
