<li class="hero__cards__card">
  <div class="hero__card-content">
    <div class="hero__card-content__text">{{title}}</div>
    <button class="hero__card-content__cta {{#if shapeColor}}link--{{shapeColor}}{{/if}}">
    {{{module cta}}}
    </button>
  </div>
  <img src="{{assetSrc image}}" alt="{{assetTitle image}}" class="hero__card-content__image">
</li>


