<div class="hero__sub-container{{@index}}">
  <h2 class="hero__title heading-2">{{title}}</h2>
  {{{module cta}}}
</div>
<img class="hero__image" src="{{assetSrc image}}" alt="{{assetTitle image}}">




