{{!-- service card --}}
<div class="services-card bg-{{backgroundColor}}">
      <div class="services-card__image">
        <img class="img-icon" src="{{assetSrc icon}}" alt="{{assetTitle icon}}">
      </div>

      <h5 class="services-card__title">{{title}}</h5>

      <div class="services-card__arrow">
        <img src="/images/icon_arrow_link.svg" alt="Go to {{title}}" role="presentation">
      </div>

      <a class="services-card__link" tile="{{title}}" href="{{ctaLink}}" target="{{#if isExternalLink}}_blank{{else}}_self{{/if}}"></a>
</div>

