<section class="service">
  <div class="service__title">
    <h1 class="heading-1">
      {{title}}
    </h1>
  </div>
  <div class="service-tabs">
    <div class="service-tabs__name">
        {{#each tabsName}}
        <button class="tab__name" data-index="{{@index}}">{{this}}</button>
        {{/each}}
    </div>
    <div class="service-tabs__content">
        {{#each tabsContent}}
        <div class="tab__content" data-index="{{@index}}">{{{module this}}}</div>
        {{/each}}
    </div>
  </div>
</section>
